@using Crud_Operations.Models
@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            <div class="mb-3">
                <label class="form-label">ID</label>
                @Html.TextBoxFor(i => i.ID, new { @disabled = "disabled" ,  @value =Model.ID , @class = "form-control" })
            </div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                @Html.TextBoxFor(i => i.Name, new { @value = Model.Name, @class = "form-control" })
            </div>
            <div class="mb-3">
                <label class="form-label">Age</label>
                @Html.TextBoxFor(i => i.Age, new { @value = Model.Age, @class = "form-control" })
            </div>
            <div class="mb-3">
                @Html.RadioButtonFor(i => i.Gender, "male") male
                @Html.RadioButtonFor(i => i.Gender, "female")female
            </div>
            <input type="submit" value="update" class="btn btn-primary" />

        }

    </div>
</body>
</html>
